# Data Science Tools and Ecosystem

## Author
Drake Dvorak

__Objectives:__

- List popular languages for Data Science
- List some commonly used libraries for Data Science
- Create a markdown cell with a table of Data Science tools

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebooks |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
2 * 5

10

In [2]:
(3+7) * 10

100

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335